.nav-bar {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 13% 13% 13% 13% 13% 13%;
    height: 100vh;
    width: 17%;
    /* border: 1px solid black; */
    position: fixed;
    top: 0;
    left: 0;
}

.g-nav-bar {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 13% 13% 13% 13% 13% 13%;
    height: 100%;
    /* border: 1px solid black; */
}

.nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(63, 50, 209);
    font-size: 130%;
    transition: 500ms;
    /* border: 1px solid green; */
}

.nav-content a {
    text-decoration: none;
}

.nav-content img{
    max-width: max-content;
    border-radius: 50%;
}

.nav-content:hover{
    cursor: pointer;
    transition: 500ms;
}

.nav-content span{
    color: rgb(210, 210, 210);
    font-family: monaco;
}

.nav-content:hover span{
    color: #E3E1F5;
}

@media screen and (min-width: 1230px){
    
    .nav-content img{
        width: 80%;
        height: 80%;
    }

    .nav-content:hover{
        font-size: 160%;
    }

    .large {
        display: inline;
    }

    .medium {
        display: none;
    }

    .small {
        display: none;
    }

}

@media screen and (min-width: 950px) and (max-width: 1230px){
    
    .nav-content {
        font-size: 110%;
    }
    .nav-content img{
        width: 60%;
        height: 60%;
    }

    .nav-content:hover{
        font-size: 140%;
    }

    .large {
        display: inline;
    }

    .medium {
        display: none;
    }

    .small {
        display: none;
    }

}


@media screen and (min-width: 850px) and (max-width: 950px){
    
    .nav-content {
        font-size: 90%;
    }
    .nav-content img{
        width: 60%;
        height: 55%;
    }

    .nav-content:hover{
        font-size: 110%;
    }

    .large {
        display: inline;
    }

    .medium {
        display: none;
    }

    .small {
        display: none;
    }

}

@media screen and (min-width: 750px) and (max-width: 849px){

    .nav-content h1 {
        font-size: 250%;
        color: #E3E1F5;
        font-family: monaco;
    }
    .nav-content img{
        width: 60%;
        height: 55%;
        transition: 500ms;
        border-radius: 0%;
    }

    .nav-content:hover img{
        width: 70%;
        height: 70%;
        transition: 500ms;
        filter: invert(100%) sepia(17%) saturate(5313%) hue-rotate(181deg) brightness(100%) contrast(91%);
    }

    img.medium{
        filter: invert(74%) sepia(15%) saturate(734%) hue-rotate(206deg) brightness(85%) contrast(89%);
    }

    .large {
        display: none;
    }

    .medium {
        display: inline;        
    }

    .small {
        display: none;
    }

}


@media screen and (min-width: 550px) and (max-width: 749px){

    .nav-content h1 {
        font-size: 250%;
        color: #E3E1F5;
        font-family: monaco;
    }
    .nav-content img{
        width: 60%;
        height: 55%;
        transition: 500ms;
        border-radius: 0%;
    }

    .nav-content:hover img{
        width: 70%;
        height: 70%;
        transition: 500ms;
        filter: invert(100%) sepia(17%) saturate(5313%) hue-rotate(181deg) brightness(100%) contrast(91%);
    }

    img.medium{
        filter: invert(74%) sepia(15%) saturate(734%) hue-rotate(206deg) brightness(85%) contrast(89%);
    }

    .large {
        display: none;
    }

    .medium {
        display: inline;        
    }

    .small {
        display: none;
    }

}


@media screen and (min-width: 450px) and (max-width: 549px){
    

    .nav-content h1 {
        font-size: 180%;
        color: #E3E1F5;
        font-family: monaco;
    }

    .nav-content img{
        width: 40%;
        height: 45%;
        transition: 500ms;
        border-radius: 0%;
    }

    .nav-content:hover img{
        width: 60%;
        height: 60%;
        transition: 500ms;
        filter: invert(100%) sepia(17%) saturate(5313%) hue-rotate(181deg) brightness(100%) contrast(91%);
    }

    img.medium{
        filter: invert(74%) sepia(15%) saturate(734%) hue-rotate(206deg) brightness(85%) contrast(89%);
    }

    .large {
        display: none;
    }

    .medium {
        display: inline;        
    }

    .small {
        display: none;
    }

}


@media screen and (min-width: 1px) and (max-width: 449px){
    

    .nav-content h1 {
        font-size: 120%;
        color: #E3E1F5;
        font-family: monaco;
    }

    .nav-content img{
        width: 40%;
        height: 45%;
        transition: 500ms;
        border-radius: 0%;
    }

    .nav-content:hover img{
        width: 60%;
        height: 60%;
        transition: 500ms;
        filter: invert(100%) sepia(17%) saturate(5313%) hue-rotate(181deg) brightness(100%) contrast(91%);
    }

    img.medium{
        filter: invert(74%) sepia(15%) saturate(734%) hue-rotate(206deg) brightness(85%) contrast(89%);
    }

    .large {
        display: none;
    }

    .medium {
        display: inline;        
    }

    .small {
        display: none;
    }

}