#main-content {
  font-family: monaco;
  padding: 5%;
}

h2 {
margin: 5% 0 5% 0;
}

h3 {
margin: 5% 0 5% 0;
}

.illustrate {width: 100%;}

.illustrate img {width: 50%;}

.list-classes {
padding: 2%;
}


@media screen and (min-width: 1px) and (max-width: 574px) {

h2 {
  font-size: medium;
}

h3 {
  font-size: small;
}

p {
  font-size: small;
}

ul {
  font-size: small
}

a {
  font-size: small;
}

strong {
  font-size: small;
}
}



@media screen and (min-width: 1px) and (max-width: 384px) {

#main-content {
  padding:20%;
}
}